.link {
  color: #61dafb;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  & :focus {
    outline: 0;
  }
}

.logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
